<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
</head>
<body>

    <form action="/register" method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        Hobby: <input type="checkbox" name="hobby" value="apple">苹果
               <input type="checkbox" name="hobby" value="banana">香蕉
               <input type="checkbox" name="hobby" value="orange">橙子 <br>
        Gender: <input type="radio" value="male" name="gender" /> 男
                <input type="radio" value="female" name="gender" /> 女 <br>
        City: <input type="text" value="" name="city"/>

        <input type="submit" value="Register">
    </form>
    
</body>
</html>

