<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBook TTS</title>
    <style>
        .line {
            margin: 5px;
            padding: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <audio id="audioPlayer" controls></audio><button id="play" disabled onclick="playNext()">开始播放</button>
    <div id="container"></div>
    <script src="static/script.js"></script>
</body>
</html>
